body {
    background-color: #40495b;
    color: #F7A043;
    font-family: 'Limelight', cursive;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    font-size: 2rem;
}


.park-image {
    height:40vh;
    width: 50vw;
    border: 15px #F9D5BA  solid;
}

.results {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.incorrect {
    color: red;
}

.correct {
    color: green;
}

.play-again {
    display: block;
}

.current-round {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: -2%;
}

.answer, .hint, h2 {
    color: #f1711b;
}

.reset {

    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 2%;
}

.reset p {
    margin-top: 0;

}

.modes {
    margin-top: 10%;
}

button {
    padding: 5px;
    border: none;
    margin: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}


.hidden {
    display: none;
}

#guess {
    height: 25px;
}

#guessBtn {
    margin-bottom: 15%;
}

.outcome {
    margin-top: -14%;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}